@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Cookie&family=Dancing+Script&family=Great+Vibes&family=Lobster&family=Oswald:wght@200&family=Pacifico&family=Poppins:wght@300;400;500;600&family=Tilt+Prism&display=swap');
body {
    font-family: 'Comforter', cursive;
font-family: 'Cookie', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Great Vibes', cursive;
font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Tilt Prism', cursive;}
